// Variables and mixins
@import "variables";
@import "mixins";

@import "modules/buttons";

body {
    background-color: $cyan-bg;
    font-family: 'Times New Roman', Arial, 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', sans-serif;
    color: $text-color;
    font-size: 16px;
    line-height: 1.8;

    @include media(phone) {
		font-size: 18px;
	}
    
}

a {
	color: $gray;
	text-decoration: none;
	@include transition(.25s);
	font-family: 'STFangsong', 'FangSong', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', sans-serif;

	&:hover,
	&:focus {
		color: $green;
		text-decoration: underline;
	}
}

hr {
  border: 0;
  border-top: 1px dashed $hr-border;
  
  &.no-margin {
    margin: 0;
  }
}

ol {
	li {
		margin-top: 10px; 
	}
}

.container {
	max-width: 920px;
	margin-top: 0;

	@include media(phone) {
    	padding: 0;
    }
}

#content {
	background-color: $white;
	margin-top: 0;
	margin-bottom: $lg;
	padding: 30px 40px;
	border: 1px solid #eee;
	@include border-bottom-radius(6px);
    @include box-shadow();

	@include media(phone) {
    	padding: 20px 20px;
    	border-radius: 0;
    }

    .book-title {
		text-align: center;
    }

    .index-title {
    	text-align: center;
    	font-size: 30px;
    	margin-top: 30px;
    	margin-bottom: 30px;
    	font-family: 'STHeiti', 'SimHei', 'Heiti SC Medium', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', sans-serif;
    }

    .index-subtitle {
    	text-align: center;
    	font-family: 'STKaiti', 'KaiTi', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', sans-serif;
    	font-size: 20px;
    	@include media(phone) {
    		font-size: 18px;
    	}
    	margin-top: 20px;
    	color: $gray-light;

    	&:before {
			content: url('../images/left-ornament.png');
			margin-right: 10px;
    	}

    	&:after {
			content: url('../images/right-ornament.png');
			margin-left: 10px;
    	}
    }

    .horizon-ornament {
    	text-align: center;
    	margin-bottom: 20px;
    }

    .index-poem-title {
    	text-align: center;
    	font-family: 'STFangsong', 'FangSong', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', sans-serif;
    	font-size: 24px;
    	margin-bottom: 15px;

    	&.highlight a {
    		font-weight: bold;
            color: $taupe;
            text-decoration: underline;
    	}

    }

    .poem-title {
    	text-align: center;
    	font-size: 30px;
    	margin-top: 10px;
    	margin-bottom: 10px;
    	font-family: 'STHeiti', 'SimHei', 'Heiti SC Medium', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', sans-serif;
    }

    .poem-info {
    	text-align: center;
    	font-size: 14px;
    	font-family: 'STKaiti', 'KaiTi', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', sans-serif;
    	color: $gray;
    	margin-bottom: 20px;
    }

    .poem-content {
    	text-align: center;
    	font-size: 20px;
    	font-family: 'STFangsong', 'FangSong', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', sans-serif;
    	margin-bottom: 25px;

        &.poem-content-left {
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            padding-left: 30px;
        }

        &.heart {
            letter-spacing: 16px;
        }
    }

    .upper{
    	margin-bottom: 25px;
    }

	.page-nav {
		max-width: 420px;
		margin: 30px auto 0;

		.to-prev {
			text-align: left;
		}

		.to-index {
			text-align: center;
		}

		.to-next {
			text-align: right;
		}
	}

	.comment {
		max-width: 420px;
		margin: 0 auto;
		color: $gray-light;
		font-size: 14px;
		@include media(phone) {
    		font-size: 12px;
    	}
		font-family: 'STKaiti', 'KaiTi', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', sans-serif;
	}

    .by-all {
        margin-top: 40px;
        font-size: 14px;
        color: $gray-lighter-1; 
        font-family: 'Times New Roman', 'STSong', 'SimSun', 'Songti SC Regular', sans-serif;
    }
}

.logo {
	margin-bottom: 30px;
}

.footer {
	margin-left: 15px;
	font-size: 12px;
	color: $gray-light;
}



