// ############# colors #############

/* ============== colors ============== */

// bg colors

.bg-cyan {
    background-color: $cyan-bg;
}

.text-warning {
    color: $warning-color;
}

.text-success {
    color: $success-color;
}

.text-dark-red {
    color: $dark-red;
}

.text-cyan {
    color: $cyan;
}

.text-error {
    color: $error-color;
}


.text-gray {
	color: $gray;
}

.text-gray-lighter {
	color: $gray-lighter;
}

.text-gray-lighter-1 {
	color: $gray-lighter-1;
}

.text-gray-lighter-2 {
	color: $gray-lighter-2;
}