// ############# buttons #############

$btn-yellow-color:              #fff !default;
$btn-yellow-bg:                 $yellow !default;
$btn-yellow-border:             darken($btn-yellow-bg, 5%) !default;

$btn-cyan-color:                #fff !default;
$btn-cyan-bg:                   $cyan-light !default;
$btn-cyan-border:               darken($btn-cyan-bg, 5%) !default;

$btn-blue-color:              	#fff !default;
$btn-blue-bg:                	$blue !default;
$btn-blue-border:            	darken($btn-blue-bg, 5%) !default;

$btn-dark-red-color:            #fff !default;
$btn-dark-red-bg:               $dark-red !default;
$btn-dark-red-border:           darken($dark-red, 5%) !default;

$btn-gray-color:                #fff !default;
$btn-gray-bg:                   $gray-lighter-2 !default;
$btn-gray-border:               darken($btn-gray-bg, 5%) !default;